

nav{
    background-color: rgb(146, 8, 8);
}

.navbar-brand, .nav-link{
    color: beige;
    font-size: 1.5rem;
}

.navbar-brand{
    margin-left: 2rem;
}

.nav-item{
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-brand:hover, .nav-link:hover{
    color: rgb(199, 74, 74);
}

.navbar-brand:focus, .navbar-brand:active, .nav-link:focus, .nav-link:active, .nav-link.show, .nav-link.active {
  color: beige !important;
  background-color: transparent !important;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(199,74,74)' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(199,74,74)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(199,74,74)' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(199,74,74)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 0px;
}

.card{
    margin-top: -10px;
    width: 100%;
    max-width: 300px;
    transition: transform 0.5s ease;
    transition: transform .25s ease, box-shadow .25s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
}

.card-body {
    height: 250px; /*garante que todos tenham a mesma área de texto*/
    overflow: hidden; /*esconde conteúdo extra*/
    display: flex;
    flex-direction: column;
}

.card-body .btn {
    margin-top: auto;
}

.card a{
    text-decoration: none;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(13, 13, 13, 0.156);
}

.card-title {
    color: #4a1a1a; 
}

.card-text{
    opacity: 0.5;
    color: #6b2b2b;
}

footer {
    background-color: rgb(146, 8, 8);
    color: beige;
    height: 3rem;
    text-align: center;
    width: 100%;
    margin-top: auto;
    padding: 0.5rem 0;
}